*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 20px;
  margin-top: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1em;
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

a > code {
  color: inherit;
}

pre {
  background-color: #ececec;
  padding: 2rem;
  border-radius: 4px;
  overflow-x: scroll;
}

ul {
  margin-bottom: 1rem;
}

ul li {
  margin-top: 0.5rem;
}
